* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  list-style: none;
}

html,
body {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  background-color: #f2f5f9;
}

/*------------- First page start ----------*/

main {
  width: 100%;
  height: 100%;
  border: 2px solid red;
}

.first {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  gap: 20px;
  background-color: #ffffff;
}

.img-search {
  display: flex;
  align-items: center;
  gap: 20px;
}

.img-search img {
  width: 20%;
}

.icon-img {
  border: 2px solid gray;
  width: 50%;
  padding-left: 4px;
  border-radius: 7px;
}

.icon-img input {
  width: 94%;
  padding: 10px;
  border: none;
  outline: none;
}

.profile-location {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
}

.profile-location select {
  padding: 20px;
  outline: none;
  border: none;
  font-weight: 600;
  font-size: 16px;
}
.user-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
/*------------- First page end ----------*/

/*------------- Second page start ----------*/
.second {
  width: 100%;
  height: 42px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  gap: 20px;
  background-color: #f5f5f5;
}

.second-f-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.second-s-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
/*------------- Second page end ----------*/

/*------------- Third page Start ----------*/
.third {
  width: 100%;
  height: 110px;
  display: flex;
  justify-content: flex-start;
  padding: 5px 40px;
  flex-direction: column;
  gap: 14px;
  background-color: #ffffff;
}

.movie-heading h1 {
  font-size: 62px;
  font-weight: 500;
}

.keywords {
  display: flex;
  align-items: center;
  gap: 20px;
}

.keywords .key-round {
  border: 2px solid gray;
  text-align: center;
  padding: 6px 9px;
  border-radius: 40px;
}
/*------------- Third page end ----------*/

/*------------- Fourth page Start ----------*/

.fourth {
  width: 100%;
  height: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 14px;
  background-color: #ffffff;
  border: 2px solid gray;
}

.date {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  gap: 10px;
}
.select-part {
  height: 100%;
}

.time-day {
  width: 100px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding: 7px;
}

.time-day p {
  font-size: 18px;
  font-weight: 400;
}

.time-day h4 {
  font-size: 28px;
  font-weight: 400;
}
.COLOR {
  background-color: #eb4e62;
  border-radius: 10px;
  color: white;
}

.GRAY {
  color: gray;
}

.select-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.select-lang select {
  padding: 49px 10px;
  font-size: 20px;
  border-left: 2px solid gray;
  outline: none;
  color: #eb4e62;
}

.search-select {
  margin-right: 30px;
  border: none;
  outline: none;
}

.search-select i {
  font-size: 22px;
}

.border-bootom {
  border-bottom: 5px solid #eb4e62;
}

.lan-fast {
  width: 100%;
  height: 6%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  background-color: #ffffff;
}

.ave-fast {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.green {
  background-color: green;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  text-align: center;
}

.orange {
  background-color: orange;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  text-align: center;
}

.gotit {
  color: #eb4e62;
  font-weight: 600;
}
/*------------- Fourth page end ----------*/
